* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #172638;
    background: #dfe9fb;
}

header {
    padding: 30px 10px;
    background: #243f70;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 3px 0 0;
}

nav {
    padding: 10px;
    background: white;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #172638;
    text-decoration: none;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 15px auto;
}

section {
    padding: 15px;
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
}

h2 {
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #aeb7c4;
    font-size: 12px;
    font-weight: normal;
}

.profilkep {
    width: 100px;
    height: 100px;
}

@media (max-width: 800px) {

    header {
        padding: 18px 10px;
    }

    header h1 {
        font-size: 16px;
    }

    nav a {
        display: block;
        margin: 5px;
    }

    main {
        width: 94%;
    }

    section {
        gap: 10px;
        align-items: flex-start;
    }

    .profilkep {
        width: 100px;
        height: 100px;
    }
}